@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Unhcr.ProtectDataHub.Localization
@using Volo.Abp.Users
@model Unhcr.ProtectDataHub.Web.Pages.IndexModel
@inject IHtmlLocalizer<ProtectDataHubResource> L
@inject ICurrentUser CurrentUser
@section styles {
<abp-style src="/Pages/Index.css" />
}
@section scripts {
<abp-script src="/Pages/Index.js" />
}
<div class="container">
    <div class="p-5 text-center">
        <h1>UNHCR GPC Integrated Data Hub</h1>

        <p class="lead px-lg-5 mx-lg-5">@L["LongWelcomeMessage"]</p>

        @if (!CurrentUser.IsAuthenticated)
        {
            <a abp-button="Primary" href="~/Account/Login"><i class="fa fa-sign-in"></i> @L["Login"]</a>
        }

    </div>
    <div class="my-3 text-center">
        <h3>GPC Integrated Data Hub Sections !</h3>
        <p>Use below links to help you get started:</p>
    </div>
    <div class="card mt-4 mb-5">
        <div class="card-body">
            <div class="row text-center justify-content-md-center">
                <div class="col-lg-4">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-book text-secondary d-block my-3 fa-2x"></i> Master Data Portal</h5>
                        <p>Explore the compherensive Protection Cluster Databank to learn how to we use Data to tackle Protection Challenges & Inform decisions.</p>
                    </div>
                </div>
                <div class="col-lg-4 border-start">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-cubes text-secondary d-block my-3 fa-2x"></i> Regions & Countries </h5>
                        <p>Explore Cluster Quarterly Dashboards and Cluster Cordination Performance Monitoring.</p>
                    </div>
                </div>
                <div class="col-lg-4 border-start">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-users text-secondary d-block my-3 fa-2x"></i>Community of Practise</h5>
                        <p>Get involved with a vibrant community.</p>
                    </div>
                </div>
            </div>
            <div class="row text-center mt-lg-3 justify-content-md-center">
                <div class="col-lg-4">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-pen-nib text-secondary d-block my-3 fa-2x"></i>Field Support Tracker</h5>
                        <p>Take advantage of our Enhanced Field Support Tracker to better raise requests and do follow-ups.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5 text-center">
        <p class="align-middle">
            <a href="https://twitter.com/ProtectionClust" target="_blank" class="mx-2"><i class="fa fa-twitter"></i><span class="text-secondary"> Tweet Us!</span></a>
            <a href="https://www.facebook.com/globalprotectioncluster" target="_blank" class="mx-2"><i class="fa fa-facebook"></i><span class="text-secondary"> Facebook Us</span></a>
            <a href="https://www.youtube.com/user/ProtectionCluster/" target="_blank" class="mx-2"><i class="fa fa-youtube"></i><span class="text-secondary"> Watch Us!</span></a>
            <a href="https://www.linkedin.com/company/global-protection-cluster" target="_blank" class="mx-2"><i class="fa fa-linkedin"></i><span class="text-secondary"> Connect With Us!</span></a>
        </p>
    </div>
</div>
