@page
@model EditModalModel
@using Unhcr.ProtectDataHub.Localization
@using Unhcr.ProtectDataHub.Web.Pages.Regions
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<ProtectDataHubResource> L
@{
    Layout = null;
}
<form asp-page="/Regions/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Region.Name" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>